# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# Large source binaries
*.pdf

# Testing & logs
coverage/
test-results/
playwright-report/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
*.pem
Thumbs.db
